<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:fragment="html (title, resources, content)">
<head>
    <meta charset="UTF-8">
    <title th:utext="#{view.messages} + ' - ' + ${title}">Title here</title>
    <th:block th:replace="../fragment/head::baseHead"/>
    <th:block th:replace="${resources}">
        <!--/* Custom resources here */-->
    </th:block>
</head>
<body>
<div class="container">
    <div th:replace="../fragment/nav :: navbar"></div>
    <th:block th:replace="${content}">
        Custom content here
    </th:block>
</div>
</body>
</html>